{% extends "base/base.html" %} {% block content %}
<h1>update</h1>

<div class="container">
    <h2>Employee Form</h2>
    <form method="POST" action="{% url 'update' obj.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" value="{{obj.name}}" placeholder="Enter name"
                name="name" />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" value="{{obj.email}}" placeholder="Enter email"
                name="email" />
        </div>
        <div class="form-group">
            <label for="department">Department:</label>
            <select class="form-control" id="department" name="department">
                <option value="{{obj.department}}">{{obj.department}}</option>
                <option value="hr">Human Resources</option>
                <option value="finance">Finance</option>
                <option value="it">Information Technology</option>
                <option value="marketing">Marketing</option>
                <option value="operations">Operations</option>
            </select>
        </div>
        <div class="form-group">
            <label for="position">Position:</label>
            <input type="text" class="form-control" id="position" placeholder="Enter position" name="position"
                value="{{obj.position}}" />
        </div>
        <div class="form-group">
            <label for="salary">Salary:</label>
            <input type="number" class="form-control" id="salary" placeholder="Enter salary" name="salary"
                value="{{obj.salary}}" />
        </div>
        <div class="text-right">
            <input type="submit" class="btn btn-primary" value="submit">
        </div>
    </form>
</div>
{% endblock content %}