{% extends "base/base.html" %} {% block content %}
<div class="container">
    <h2>Employee Table</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Department</th>
                <th scope="col">Position</th>
                <th scope="col">Salary</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            {% if emps %}
            <tr>
                {% for emp in emps %}
                <th scope="row">{{emp.id}}</th>
                <td>{{emp.name}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.department}}</td>
                <td>{{emp.position}}</td>
                <td>{{emp.salary}}</td>
                <td>
                    <div class="d-flex">
                        <div>
                            <a class="btn btn-primary" href="{% url 'update' emp.id %}"> Edit</a>
                        </div>
                        <div class="ms-3">
                            <form action='{% url "delete" emp.id %}' method="POST">
                                {% csrf_token %}

                                <input type="submit" class="btn btn-secondary" value="Delete">
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %} {% else %}
            <h1>No Date</h1>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}